<div class='price'>
    <div class="price-partial">
        <span>{{ 'Mezisoučet'|t }}:</span>
        <span class="number">
            {% if cart.getPromoCode() %}<strike>{{ cart.getTotalPrice(false) }} {{ 'Kč'|t }}</strike> {% endif %}
            {{ cart.getTotalPrice() }} {{ 'Kč'|t }}
        </span>
    </div>
    <div class="price-partial">
        <span>{{ 'Cena za dopravu'|t }}:</span>
        <span class="number">
            <span x-text='getShippingRate()'>---</span> {{ 'Kč'|t }}
        </span>
    </div>
    <div class="price-full">
        <span>{{ 'Cena celkem'|t }}:</span>
        <span class="number">
            <span x-text='{{ cart.getTotalPrice() }} + getShippingRate()'>---</span>
            {{ 'Kč'|t }}
        </span>
    </div>
</div>
