{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/pages/order-underpage.css">
{% endblock %}

{% block content %}
    {% set shippingKeyAndMetadata = order.shipping_method|split("; ") %}
    {% set shippingMetadata = shippingMethods[shippingKeyAndMetadata[0]] %}
    <div class='order-underpage' id='order-underpage'>
        <div class='text-center thank-you-page-title'>
            <h3 class='text-muted'>
                {% if order.status|lower == "nezaplaceno" %}
                    {{ "D캩kujeme! Sta캜칤 u jen zaplatit!"|t }} 游눶
                {% elseif order.status|lower != "dokon캜eno" %}
                    {{ "D캩kujeme! Vy캜kejte na odesl치n칤 objedn치vky"|t }}游볘
                {% else %}
                    {{ "D캩kujeme! Objedn치vka dokon캜ena"|t }} 游꿀
                {% endif %}
            </h3>
            <h1>{{ "P콏ehled objedn치vky"|t }}: <span class='text-brands-signature'>#{{ order.id }}</span></h1>
        </div>
        <div class='order-underpage__content' x-data='orderPage({
            order: JSON.parse(`{{ order|json_encode }}`),
            initialPaymentDialogShown: {{ showPaymentDialog ? "true" : "false" }},
            thankYouMessageShown: {{ showThankYou ? "true" : "false" }},
            payPal: {
                clientId: "{{ payPal.clientId }}",
                routes: {
                    create: "{{ url_for('paypal-create-order', { orderUuid: order._uuid }) }}",
                    capture: "{{ url_for('paypal-capture-order', { orderUuid: order._uuid }) }}"
                }
            }
         })'>
            <div>
                <section>
                    <h2>{{ "Informace o objedn치vce"|t }}</h2>
                    <ul>
                        <li>{{ "캛칤slo objedn치vky"|t }}: #{{ order.id }}</li>
                        <li>{{ "Datum objedn치n칤"|t }}: {{ order.created_at|date("j.n. Y @ h:i") }}</li>
                        <li>{{ "Aktu치ln칤 stav"|t }}: {{ order.status|t }}</li>
                        {% if order.promo_code_amount %}
                            <li>
                                {{ "Slevov칳 k칩d"|t }}: {{ order.promo_code_value }} (-{{ order.promo_code_amount }}%)
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <section>
                    <h2>{{ "Adresa"|t }}</h2>
                    <ul>
                        <li class='mb-2'>{{ order.firstName }} {{ order.lastName }}</li>
                        <li>{{ order.street }} {{ order.building_number }}</li>
                        <li>{{ order.city }}, {{ order.postal_code }}</li>
                    </ul>
                </section>
                <section>
                    <h2>{{ "Doprava"|t }}</h2>
                    <ul>
                        <li>{{ "Typ dopravy"|t }}: {{ shippingMetadata.title|t }}</li>
                        {% if shippingKeyAndMetadata[1] %}
                            <li>{{ "Dopl켿uj칤c칤 informace"|t }}: {{ shippingKeyAndMetadata[1] }}</li>
                        {% endif %}
                        {% if order.shipping_rate %}
                            <li>{{ "Cena za dopravu"|t }}: {{ order.shipping_rate }} K캜</li>
                        {% endif %}
                    </ul>
                </section>
                <section>
                    <h2>{{ "Platebn칤 informace"|t }}</h2>
                    <ul>
                        <li class='mb-2'>
                            {{ "Typ platby"|t }}: {{ paymentMethods[order.payment_method].title|t }}
                        </li>
                        <li>
                            {{ "Zaplaceno"|t }}: {{ (order.status|lower == "nezaplaceno" ? "ne" : "ano")|t|upper }}
                        </li>
                        {% if order.status|lower == "nezaplaceno" %}
                            <li>
                                <div class="alternate-alert warning mb-2 mt-3" role="alert">
                                    {{ "Zapla콘te objedn치vku do sedmi dn칤. Pokud tak neu캜in칤te bude objedn치vka automaticky stornov치na!"|t }}
                                </div>

                                {% if order.payment_method == "paypal" %}
                                    <button @click='modalOpen = !modalOpen'>
                                        {{ "Zaplatit kartou nebo pomoc칤 PayPal u캜tu"|t }}
                                    </button>
                                {% endif %}

                            </li>
                        {% endif %}
                    </ul>
                </section>
                {% if order.note %}
                    <section>
                        <h2>{{ "Pozn치mka"|t }}</h2>
                        <p>
                            {{ order.note }}
                        </p>
                    </section>
                {% endif %}
            </div>
            <div>
                {% if order.cards|length > 0 %}
                    <section>
                        <h2>{{ "Objednan칠 karty"|t }}</h2>
                        {% for item in order.cards %}
                            {{ include("@modules:Adcards/components/small-card.twig", {
                                "card": item,
                                "size": item.size,
                                "index": loop.index0,
                                readOnly: true
                            }) }}
                        {% endfor %}
                    </section>
                {% endif %}
                {% if order.products|length > 0 %}
                    <section>
                        <h2>{{ "Objednan칠 produkty"|t }}</h2>
                        {% for item in order.products %}
                            {{ include("@modules:Adcards/components/small-product.twig", {
                                orderedProduct: item,
                                readOnly: true
                            }) }}
                        {% endfor %}
                    </section>
                {% endif %}
                <section>
                    <div class='d-flex justify-content-between text-muted'>
                        <p>Mezisou캜et: </p>
                        <p>
                            {% set priceTotalWithoutShipping = order.total_cost - order.shipping_rate %}
                            {% if order.promo_code_amount %}
                                {% set totalDiscount = (priceTotalWithoutShipping / (1 - order.promo_code_amount)) * -1 %}
                                <s>{{ (priceTotalWithoutShipping + totalDiscount)|round(0, 'floor') }}
                                    K캜</s>
                            {% endif %}
                            {{ priceTotalWithoutShipping }} K캜
                        </p>
                    </div>
                    {% if order.shipping_rate %}
                        <div class='d-flex justify-content-between mb-3'>
                            <p>{{ "Cena za dopravu"|t }}:</p>
                            <p>{{ order.shipping_rate }} K캜</p>
                        </div>
                    {% endif %}
                    <div class='d-flex justify-content-between'>
                        <p class='font-weight-bold'>{{ "Celkov치 캜치stka"|t }}:</p>
                        <p class='text-brands-signature font-weight-bold'>{{ order.total_cost }} K캜</p>
                    </div>
                </section>
            </div>

            {% if order.payment_method != "bank-transfer" %}
                {# Payment dialog #}
                <dialog class='payment-dialog' :style='{ display: modalOpen ? "flex" : "none" }'
                        {% if showPaymentDialog == false %}style='display: none'{% endif %}>
                    <div class='payment-dialog__content'>
                        <div class='payment-dialog__content-inner'>
                            <img class='payment-dialog__logo' src="/images/logo_AD.png" />
                            <h3 class='text-center mb-4'>{{ "Platba objedn치vky"|t }} <span
                                        class='text-brands-signature'>#{{ order.id }}</span>
                            </h3>
                            <div x-show='errors.payPal' x-text='errors.payPal' class='alternate-alert error'></div>
                            <div x-ref='payPalButtons' class='paypal-buttons'>
                                <div style='height: 45px' class='skeleton w-100'></div>
                                <div style='height: 45px; margin-top: 1rem' class='skeleton w-100'></div>
                            </div>
                        </div>
                        <a @click.prevent='modalOpen = !modalOpen' class='payment-dialog__close-link'
                           href='#'>{{ "Nebo zaplatit pozd캩j칤"|t }}</a>
                    </div>
                </dialog>
            {% endif %}

            {% if showThankYou %}
                {{ include("@modules:Adcards/components/toast-alert.twig", { message: "Objedn치vka zaplacena. D캩kujeme!"|t }) }}
            {% endif %}
        </div>
    </div>
    <script>
      window.document.querySelector('.thank-you-page-title').scrollIntoView({
        behavior: 'smooth',
        block: 'center',
        inline: 'center',
      })
    </script>
{% endblock %}
