    <nav class="{{ isHome ? '' : 'dark' }}">
        <div class="nav-upper {{ isHome ? '' : 'dark' }}">
            <ul>
                <li>
                    <a href="mailto:info@adcards.cz">
                        <svg style="margin-right:5px;" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                            width="20" height="20" viewBox="0 0 24 24" style=" fill:#ffffff;">
                            <path
                                d="M 4 4 C 3.07 4 2.2923125 4.6429063 2.0703125 5.5039062 L 12 11.726562 L 21.935547 5.5214844 C 21.719547 4.6504844 20.937 4 20 4 L 4 4 z M 2 7.734375 L 2 18 C 2 19.103 2.897 20 4 20 L 20 20 C 21.103 20 22 19.103 22 18 L 22 7.7558594 L 12 14 L 2 7.734375 z">
                            </path>
                        </svg> info@adcards.cz</a>
                </li>
                <li>
                    <a href="tel:+420775025295"><svg style="margin-right:5px;" xmlns="http://www.w3.org/2000/svg"
                            x="0px" y="0px" width="20" height="20" viewBox="0 0 24 24"
                            style=" fill:#000000;">
                            <path
                                d="M 8 2.398438 C 8.101563 2.398438 8.101563 2.398438 8.199219 2.5 C 8.300781 2.601563 8.601563 2.898438 8.601563 3.101563 C 8.601563 3.300781 8.601563 3.800781 8.699219 4.199219 C 8.898438 4.699219 9.101563 6 9.398438 6.699219 C 9.699219 7.398438 9.800781 7.800781 9.5 8.199219 C 9.199219 8.699219 7.300781 10.601563 7.300781 10.601563 C 7.300781 10.601563 7.800781 11.601563 8.398438 12.199219 C 8.898438 12.898438 9.699219 13.898438 10.699219 14.699219 C 11.699219 15.601563 12.800781 16.398438 13.898438 16.898438 C 15 15.800781 15.898438 14.898438 16.199219 14.699219 C 16.5 14.5 16.5 14.398438 17 14.601563 C 17.5 14.800781 18.199219 15.101563 19 15.199219 C 19.699219 15.300781 20.5 15.398438 21 15.5 C 21.5 15.601563 21.5 15.601563 21.601563 15.800781 C 21.800781 16 21.898438 16.300781 21.898438 16.398438 C 21.898438 16.5 21.898438 16.800781 21.898438 17.800781 C 21.898438 18.800781 21.898438 20.199219 21.898438 20.5 C 21.898438 20.800781 21.898438 20.800781 21.800781 21 C 21.699219 21.199219 21.601563 21.699219 21.601563 21.699219 C 21.601563 21.800781 21.101563 22 20.800781 22 C 20.5 22 19.398438 22 18.699219 21.898438 C 18 21.800781 16.101563 21.398438 15.398438 21.101563 C 14.699219 20.898438 12.398438 20.101563 9.601563 18 C 7 16 5.101563 13.300781 4 11.101563 C 2.898438 8.898438 2.300781 6.5 2.199219 5.300781 C 2 4.101563 2 3.601563 2 3.300781 C 2.101563 3 2.398438 2.699219 2.601563 2.601563 C 2.800781 2.5 3.101563 2.398438 3.398438 2.398438 C 3.699219 2.398438 4.5 2.398438 5.601563 2.398438 C 6.699219 2.398438 8 2.398438 8 2.398438 Z">
                            </path>
                        </svg> +420 775 025 295</a>
                </li>
            </ul>
            <ul>
                <a target="_blank" href="{% include('@modules:Adcards/layouts/site-layout/facebook-url.twig') %}">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
                            height="20" viewBox="0 0 24 24" style=" fill:#ffffff;">
                            <path
                                d="M12,0C5.373,0,0,5.373,0,12c0,6.016,4.432,10.984,10.206,11.852V15.18H7.237v-3.154h2.969V9.927c0-3.475,1.693-5,4.581-5 c1.383,0,2.115,0.103,2.461,0.149v2.753h-1.97c-1.226,0-1.654,1.163-1.654,2.473v1.724h3.593L16.73,15.18h-3.106v8.697 C19.481,23.083,24,18.075,24,12C24,5.373,18.627,0,12,0z">
                            </path>
                        </svg>
                    </li>
                </a>
                <a target="_blank" href="{% include('@modules:Adcards/layouts/site-layout/instagram-url.twig') %}">
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26"
                            height="26" viewBox="0 0 32 32" style=" fill:#ffffff;">
                            <path
                                d="M 11.46875 5 C 7.917969 5 5 7.914063 5 11.46875 L 5 20.53125 C 5 24.082031 7.914063 27 11.46875 27 L 20.53125 27 C 24.082031 27 27 24.085938 27 20.53125 L 27 11.46875 C 27 7.917969 24.085938 5 20.53125 5 Z M 11.46875 7 L 20.53125 7 C 23.003906 7 25 8.996094 25 11.46875 L 25 20.53125 C 25 23.003906 23.003906 25 20.53125 25 L 11.46875 25 C 8.996094 25 7 23.003906 7 20.53125 L 7 11.46875 C 7 8.996094 8.996094 7 11.46875 7 Z M 21.90625 9.1875 C 21.402344 9.1875 21 9.589844 21 10.09375 C 21 10.597656 21.402344 11 21.90625 11 C 22.410156 11 22.8125 10.597656 22.8125 10.09375 C 22.8125 9.589844 22.410156 9.1875 21.90625 9.1875 Z M 16 10 C 12.699219 10 10 12.699219 10 16 C 10 19.300781 12.699219 22 16 22 C 19.300781 22 22 19.300781 22 16 C 22 12.699219 19.300781 10 16 10 Z M 16 12 C 18.222656 12 20 13.777344 20 16 C 20 18.222656 18.222656 20 16 20 C 13.777344 20 12 18.222656 12 16 C 12 13.777344 13.777344 12 16 12 Z">
                            </path>
                        </svg>
                    </li>
                </a>
            </ul>
        </div>
        <div class="nav-inner">
            <a href="/" class="logo" id="logo"><img src="/images/logo_AD.png"></a>
            <!-- <div class="mob-items">
                <div class="mob-cart">
                    <a href="#"><i class="fa-shopping-cart fas"></i><span>{{ cartCount }}</span></a>
                </div>
                <div class="mob-menu" id="mob-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div> -->
            <div class="menu-around">
                <ul class="menu">
                     <a href="{{ url_for('products') }}">
                        <li>
                            {{ 'Produkty' | t }}
                        </li>
                    </a>
                    <a href="{{ url_for('faq') }}">
                        <li>
                            FAQ
                        </li>
                    </a>
                    <a href="{{ url_for('contact') }}">
                        <li>
                            {{ 'Kontakt' | t }}
                        </li>
                    </a>
                </ul>
                <div class="dropdown-language-around">
                    <div class="dropdown language-btn">
                        <img src="/images/flags/{{ getCurrentLanguage() }}.svg" width="14" height="15"
                            alt="{{ getCurrentLanguage() }} vlajka">
                        {{ getCurrentLanguage() }}
                    </div>
                    <div class="dropdown-language-content">
                        {% for language in languages %}
                        <a href="/{{ language }}{{ current_url() }}">
                            <img src="/images/{{ language }}">
                            {{ (language . code) | upper }}
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <a href="{{ url_for('cart') }}">
                    <div class="cart-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="22"
                            height="22" viewBox="0 0 172 172" style=" fill:#000000;">
                            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                                style="mix-blend-mode: normal">
                                <path d="M0,172v-172h172v172z" fill="none"></path>
                                <g fill="#000000">
                                    <path
                                        d="M11.46667,11.46667c-2.06765,-0.02924 -3.99087,1.05709 -5.03322,2.843c-1.04236,1.78592 -1.04236,3.99474 0,5.78066c1.04236,1.78592 2.96558,2.87225 5.03322,2.843h10.7724c1.29517,0 2.37592,0.81106 2.74349,2.06042l24.43385,83.06614c2.14446,7.29116 8.88821,12.34011 16.49453,12.34011h62.93229c7.73092,0 14.55694,-5.22483 16.59532,-12.67604l14.89323,-54.61224c0.47113,-1.72445 0.11102,-3.56997 -0.97382,-4.99081c-1.08485,-1.42084 -2.7703,-2.25442 -4.55795,-2.25424h-111.72161l-7.08828,-24.10911c-0.00373,0 -0.00747,0 -0.0112,0c-1.78818,-6.07784 -7.40968,-10.29089 -13.73984,-10.29089zM68.8,131.86667c-6.33287,0 -11.46667,5.1338 -11.46667,11.46667c0,6.33287 5.1338,11.46667 11.46667,11.46667c6.33287,0 11.46667,-5.1338 11.46667,-11.46667c0,-6.33287 -5.1338,-11.46667 -11.46667,-11.46667zM126.13333,131.86667c-6.33287,0 -11.46667,5.1338 -11.46667,11.46667c0,6.33287 5.1338,11.46667 11.46667,11.46667c6.33287,0 11.46667,-5.1338 11.46667,-11.46667c0,-6.33287 -5.1338,-11.46667 -11.46667,-11.46667z">
                                    </path>
                                </g>
                            </g>
                        </svg>
                        <span class="cart-number">{{ cart.items|length }}</span>
                    </div>
                </a>

                <a href="{{ url_for('builder') }}">
                    <div class="create-btn">
                        <p>{{ 'Vytvořit kartu' | t }}</p>
                    </div>
                </a>
            </div>
        </div>
    </nav>
