<div class="cart-right w50 w100-mob" id='cart-right-side'>
    {{ include("@modules:Adcards/partials/pages/cart/right-side/cart-overview.twig") }}

    {{ include("@modules:Adcards/partials/pages/cart/right-side/extras.twig") }}
    {{ include("@modules:Adcards/partials/pages/cart/right-side/price.twig") }}
    {{ include("@modules:Adcards/partials/pages/cart/right-side/promo-code.twig") }}

    <div class="form-check col-xl-12">
        <p>{{ "Odesláním formuláře souhlasíte se všeobecnými podmíkami a se zpracováním osobních údajů."|t }}</p>
    </div>
    <button type="submit">
        <span>{{ 'Odeslat objednávku'|t }}</span>
    </button>
</div>