<input type="hidden" id="cards-json" value="{{ json.cards }}">
<input type="hidden" id="extras-json" value="{{ json.extras }}">

{% for card in cards %}
    <div class="item">
        <div class="image w20">
            <img src="{{ __webRoot__ }}app/carnival/var/storage/{{ card.background.img.relativePath }}">

            {% if card.player %}
                <img class="player-img" src="{{ __webRoot__ }}app/carnival/var/storage/{{ card.player.relativePath }}">
            {% endif %}
        </div>
        <div class="w80 w80-mob info">
            <div class="name">
                <h4>{{ card.name }}</h4>
            </div>
            <div class="size">
                {#
                    TODO: Actual card dimensions    
                #}
                <span>{{ 'Rozměr'|trans('common/cart') }}: <b>{{ card.size }}</b></span>
            </div>
            <div class="price">
                <span>{{ 'Cena'|trans('common/cart') }}: <b>{{ card.price }}{{ 'Kč'|trans }}</b></span>
            </div>
            <a href="{{ path('cart/card/remove') }}?id={{ card.id }}" class="delete"></a>
        </div>
    </div>
{% endfor %}

{% for key, extra in extras %}
    <div class="item">
        <div class="image w20">
            <img src="{{ __webRoot__ }}app/carnival/var/storage/{{ extra.img.relativePath }}">
        </div>
        <div class="w80 w80-mob info">
            <div class="name">
                <h4>{{ extra.name }}</h4>
            </div>
            <div class="size">
                <span>{{ extra.description }}</span>
            </div>
            <div class="price">
                <span>Cena: <b>{{ extra.price }}{{ 'Kč'|trans }}</b></span>
            </div>
            <span class="delete" onclick="toggleExtra(this)" data-extra-toggle="remove" data-extra-value="{{ key }}"></span>
        </div>
    </div>
{% endfor %}