<div id="product-item-{{ id }}" class="col-12 col-lg-4 col-md-4 col-sm-6 col-xl-4 shop-box">
    {% set currentImage = getImage(images[0], 440) %}
    <img src="{{ currentImage.src }}" width="{{ currentImage.width }}" height="{{ currentImage.height }}"
         alt="Obrázek produktu">
    <h2>{{ name }}</h2>
    <div class="price">{{ price }} Kč</div>
    <p>{{ description }}</p>
    <form role="form"
          class="add-to-cart"
          hx-swap="outerHTML"
          hx-target="#mini-cart"
          action="{{ url_for('add-to-cart') }}"
          method="POST"
          hx-post="{{ url_for('add-to-cart') }}"
    >
        <input class="d-none" name="product-id" value="{{ id }}" />
        <input class="add-to-cart__value" name="quantity" type="number" min="1" step="1" value="1" />
        <button type="submit">
            <span class="hx-hide-on-request">{{ 'Přidat do košíku' | t }}</span>
            <span class="hx-show-on-request">{{ 'Přidávám...' | t }}</span>
        </button>
    </form>
</div>