{% set rootId = "small-product-" ~ data.id %}
<div id='{{ rootId }}' class='d-flex cart-overview__item'>
    <div class='cart-overview__item-image'>
        {% set currentImage = getImage(data.images[0], 200) %}
        <img class='h-100 w-100 position-absolute' src="{{ currentImage.src }}"
             width='{{ currentImage.width }}'
             height='{{ currentImage.height }}' />
    </div>
    {#    This will be replaced when user updates quantity #}
    <form action='{{ url_for("updateProductInCart") }}'
          method='POST'
          hx-post='{{ url_for("updateProductInCart") }}'
          hx-target='#cart-right-side'
          hx-swap="outerHTML"
          class='d-flex w-100 align-items-center ignore-form-styles position-relative'
    >
        <input name='product-id' value='{{ data.id }}' class='d-none'
        />
        <div class='w-100 info'>
            <div class="name">
                <h4>{{ data.name }}</h4>
            </div>
            <div class="price">
                <span>Cena: <b>{{ price.total }} {{ "Kč"|t }}</b></span>
            </div>
        </div>

        <input class="cart-overview__item-quantity"
               type="number"
               min="1"
               step="1"
               name='quantity'
               value="{{ count }}"
                {#               If it submits then it triggers form to send updates to server and get newest data #}
               @input.debounce.500ms="$event.target.form.requestSubmit();"
               x-data
        />

        <button
                type='button'
                hx-delete='{{ url_for("removeFromCart") }}?product-id={{ data.id }}'
                hx-target="#cartForm-right-side"
                hx-swap='outerHTML'
                class='delete ignore-button-styles'
        ></button>
    </form>
</div>