<!-- start @modules:Adcards/components/small-product.twig -->
{% set rootId = "small-product-" ~ orderedProduct.product.id %}
<div id='{{ rootId }}' class='d-flex small-product'>
    {% if orderedProduct.product.images[0] %}
        <div class='small-product__image'>
            {% set currentImage = getImage(orderedProduct.product.images[0], 200) %}
            <img class='h-100 w-100 position-absolute' src="{{ currentImage.src }}"
                 width='{{ currentImage.width }}'
                 height='{{ currentImage.height }}' />
        </div>
    {% endif %}
    {#    This will be replaced when user updates quantity #}
    <form action='{{ url_for("updateProductInCart") }}'
          method='POST'
          hx-post='{{ url_for("updateProductInCart") }}'
          hx-target='#cart-right-side'
          hx-swap="outerHTML"
          class='d-flex w-100 align-items-center ignore-form-styles position-relative'
    >
        <input name='product-id' value='{{ orderedProduct.product.id }}' class='d-none' />
        <div class='w-100 info'>
            <div class="name">
                <h4>
                    {{ orderedProduct.product.name }}
                    {% if readOnly is same as(true) %}
                        <span class='text-muted'>({{ orderedProduct.count }}x)</span>
                    {% endif %}
                </h4>
            </div>
            <div class="price">
                {% if readOnly is not same as(true) %}
                    <span>Cena: <b>{{ orderedProduct.price.total ?? orderedProduct.product.price }} {{ "Kč"|t }}</b></span>
                {% else %}
                    <span>Cena za kus: <b>{{ orderedProduct.price.total ?? orderedProduct.product.price }} {{ "Kč"|t }}</b></span>
                    <br />
                    <span>Celkově: <b class='text-brands-signature'>{{ orderedProduct.product.price }} {{ "Kč"|t }}</b></span>
                {% endif %}
            </div>
        </div>

        {% if readOnly is not same as(true) %}
            <input class="small-product__quantity"
                   type="number"
                   min="1"
                   step="1"
                   name='quantity'
                   value="{{ orderedProduct.count }}"
                    {#               If it submits then it triggers form to send updates to server and get newest data #}
                   @input.debounce.500ms="$event.target.form.requestSubmit();"
                   x-data
            />

            <button
                    type='button'
                    hx-delete='{{ url_for("removeFromCart") }}?product-id={{ orderedProduct.id }}'
                    hx-target="#cart-right-side"
                    hx-swap='outerHTML'
                    class='delete ignore-button-styles'
            ></button>
        {% endif %}
    </form>
</div>
<!-- end @modules:Adcards/components/small-product.twig -->