<div class="checkbox-group col-xl-12">
    <div class="form-group col-xl-12" style="padding: 0px;margin-bottom: 10px;margin-top: 5px;">
        <h4>Výběr dopravy</h4>
    </div>

    {% for shippingKey, shippingItem in shippingMethods %}
        <div class="checkbox-around col-lg-6 col-sm-6 col-xl-6">
            <input type="radio"
                   name="shippingMethod"
                   value='{{ shippingKey }}'
                   x-model="shippingMethod"
                   x-on:change='doValidate()'
                   id="shipping-{{ shippingKey }}">

            <label for="shipping-{{ shippingKey }}" id="shipping-{{ shippingKey }}-label" class="tab">
                    <span class="label-name">
                        {{ shippingItem.title|t }}<br>
                        <small>({{ shippingItem.rate }}{{ 'Kč'|t }})</small>
                    </span>
            </label>
        </div>
    {% endfor %}

    {% for shippingKey, shippingItem in shippingMethods %}
        {% if shippingItem.bonusContentAfterSelect is not same as(null) %}
            <div class="form-group shipping-around w100 w100-mob"
                 x-show="shippingMethod === '{{ shippingKey }}'" style='display: none'>

                {{ include(shippingItem.bonusContentAfterSelect) }}
            </div>
        {% endif %}
    {% endfor %}

    <small class='field-error' x-text='state.form.errors.shippingMethod'></small>
</div>