{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/pages/builder.css">
    <link rel="stylesheet" href="/css/pages/products.css">
{% endblock %}

{% block content %}
    {% set props = {
        materials,
        sports,
        state
    } %}
    <div id='builder-root' class='builder' x-data="cardBuilder(JSON.parse(`{{ props|json_encode }}`))">
        <nav class='builder__steps-navigation align-items-center flex'>
            <template x-for='i in 4'>
                <button @click='selectStep(i-1)' :class='getCurrentStep() === i-1 ? "current" : ""' x-text='i'
                        :disabled='getLargestTakenStep() < i-1'>
                </button>
            </template>
        </nav>
        <div class='builder__steps'>
            {#            Material select #}
            <div class='builder__steps__step' x-show='getCurrentStep() === 0'
                 {% if (state.form.values.currentStep != 0) %}style='display: none'{% endif %}>
                <h3 class='text-center'>{{ "Vyberte materiál"|t }}</h3>
                <div class="keen-slider builder-slider">
                    {% for material in materials %}
                        <a class="keen-slider__slide"
                           @click.prevent='setMaterial({{ material.id }}, true)'
                           href='/karty/builder?materialId={{ material.id }}'>
                            <div class='image-wrap'>
                                {% set currentImage = getImage(material.image, 440) %}
                                {% set placeholderImage = getImage(material.image, 20) %}
                                <img alt='' src="{{ placeholderImage.src }}" data-src="{{ currentImage.src }}"
                                     width="{{ currentImage.width }}"
                                     height="{{ currentImage.height }}" loading='lazy'>
                            </div>
                            <h4>{{ material.name }}</h4>
                            <p>{{ material.description }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>

            {#            Sport select #}
            <div class='builder__steps__step' x-show='getCurrentStep() === 1'
                 {% if (state.form.values.currentStep != 1) %}style='display: none'{% endif %}
            >
                <h3 class='text-center'>{{ "Vyberte sport"|t }}</h3>
                <div class="keen-slider builder-slider">
                    {% for sport in sports %}
                        <a class="keen-slider__slide"
                           @click.prevent='setSport({{ sport.id }}, true)'
                           :href='`/karty/builder?materialId=${_materialId}&sportId={{ sport.id }}`'>
                            <div class='image-wrap'>
                                {% set currentImage = getImage(sport.image, 440) %}
                                {% set placeholderImage = getImage(sport.image, 20) %}
                                <img alt='' src='{{ placeholderImage.src }}' data-src="{{ currentImage.src }}"
                                     width="{{ currentImage.width }}"
                                     height="{{ currentImage.height }}" loading='lazy'>
                            </div>
                            <h4>{{ sport.name }}</h4>
                            {% if sport.description %}
                                <p>{{ sport.description }}</p>
                            {% endif %}
                        </a>
                    {% endfor %}
                </div>
            </div>

            {#            Background select #}
            <div class='builder__steps__step' x-show='getCurrentStep() === 2'
                 {% if (state.form.values.currentStep != 2) %}style='display: none'{% endif %}
            >
                <h3 class='text-center'>{{ "Vyberte pozadí karty"|t }}</h3>
                {% for sport in sports %}
                    <div class="keen-slider builder-slider" style='display: none'
                         x-show='_sportId === {{ sport.id }}'>
                        {% for background in sport.backgrounds %}
                            <a class="keen-slider__slide"
                               @click.prevent='setBackground({{ background.id }}, true)'
                               :href='`/karty/builder?materialId=${_materialId}&sportId=${_sportId}&backgroundId={{ background.id }}`'>
                                <div class='image-wrap'>
                                    {% set currentImage = getImage(background.image, 440) %}
                                    {% set placeholderImage = getImage(background.image, 20) %}
                                    <img alt='' src='{{ placeholderImage.src }}' data-src="{{ currentImage.src }}"
                                         width="{{ currentImage.width }}"
                                         height="{{ currentImage.height }}" loading='lazy'>
                                </div>
                                <h4>{{ background.name }}</h4>
                                {% if background.description %}
                                    <p>{{ background.description }}</p>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

            <div class='builder__steps__step'
                 x-show='getCurrentStep() === 3'
                 {% if (state.form.values.currentStep != 3) %}style='display: none'{% endif %}
            >
                {{ include("@modules:Adcards/partials/pages/builder/form/form.twig") }}
            </div>
        </div>
    </div>
{% endblock %}
