{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/pages/builder.css">
    <link rel="stylesheet" href="/css/pages/products.css">
    <script>
      window.application.builder = {
        materials: JSON.parse('{{ materials|json_encode|raw }}'),
        backgrounds: JSON.parse('{{ backgrounds|json_encode|raw }}'),
        countries: JSON.parse('{{ countries|json_encode|raw }}'),
        sports: JSON.parse('{{ sports|json_encode|raw }}'),
        sizes: JSON.parse('{{ sizes|json_encode|raw }}'),
        /**
         * server state
         */
        state: JSON.parse('{{ state|json_encode|raw }}'),
      }
    </script>
{% endblock %}

{% block content %}
    <div id='builder-root' class='builder' x-data="cardBuilder()">
        <nav class='builder__steps-navigation align-items-center flex'>
            <template x-for='i in 4'>
                <button @click='currentStep = i-1' :class='currentStep === i-1 ? "current" : ""' x-text='i'
                        :disabled='largestStepTaken < i-1'>

                </button>
            </template>
        </nav>
        <div class='builder__steps'>
            {#            Material select #}
            <div
                    class='builder__steps__step'
                    x-show='currentStep === 0'
                    {% if (state.form.values.currentStep != 0) %}style='display: none'{% endif %}
            >
                <h3 class='text-center'>{{ "Vyberte materiál"|t }}</h3>
                <div class="builder__grid">
                    {% for material in materials %}
                        <div class="builder__grid-item" @click='(materialId = {{ material.id }}) && ++currentStep'>
                            <div class='builder__grid-item-image_wrapper'>
                                {% set currentImage = getImage(material.image, 440) %}
                                <img alt='' src="{{ currentImage.src }}" width="{{ currentImage.width }}"
                                     height="{{ currentImage.height }}">
                            </div>
                            <h4>{{ material.name }}</h4>
                            <p>{{ material.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {#            Sport select #}
            <div
                    class='builder__steps__step'
                    x-show='currentStep === 1'
                    {% if (state.form.values.currentStep != 1) %}style='display: none'{% endif %}
            >
                <h3 class='text-center'>{{ "Vyberte sport"|t }}</h3>
                <div class="builder__grid">
                    {% for sport in sports %}
                        <div class="builder__grid-item" @click='(sportId = {{ sport.id }}) && ++currentStep'>
                            <div class='builder__grid-item-image_wrapper'>
                                {% set currentImage = getImage(sport.image, 440) %}
                                <img alt='' src="{{ currentImage.src }}" width="{{ currentImage.width }}"
                                     height="{{ currentImage.height }}" loading='lazy'>
                            </div>
                            <h4>{{ sport.name }}</h4>
                            {% if sport.description %}
                                <p>{{ sport.description }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            {#            Background select #}
            <div
                    class='builder__steps__step'
                    x-show='currentStep === 2'
                    {% if (state.form.values.currentStep != 2) %}style='display: none'{% endif %}
            >
                <h3 class='text-center'>{{ "Vyberte pozadí karty"|t }}</h3>
                <div class="builder__grid">
                    {% for background in backgrounds %}
                        <div class="builder__grid-item"
                             @click='(backgroundId = {{ background.id }}) && ++currentStep'>
                            <div class='builder__grid-item-image_wrapper'>
                                {% set currentImage = getImage(background.image, 440) %}
                                <img alt='' src="{{ currentImage.src }}" width="{{ currentImage.width }}"
                                     height="{{ currentImage.height }}" loading='lazy'>
                            </div>
                            <h4>{{ background.name }}</h4>
                            {% if background.description %}
                                <p>{{ background.description }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class='builder__steps__step'
                 x-show='currentStep === 3'
                 {% if (state.form.values.currentStep != 3) %}style='display: none'{% endif %}
            >
                {{ include("@modules:Adcards/partials/pages/builder/form/form.twig") }}
            </div>
        </div>
    </div>
{% endblock %}
