{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/faq.css">
{% endblock %}

{% block content %}
<div class="faq-around">
    <div class="faq-inner">
        <div class="headline">
            <h1>FAQ</h1>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title"><p>{{ 'Jaké obrázky použít pro co nejlepší kvalitu?' | t }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Pro co nejlepší kvaltu nahrávejte fotky podle následujících bodů:' | t }}</p>
                    <ul>
                        <li>
                            <p>{{ 'Obrázek by měl obsahovat hlavu, ramena a hrudník a vyplňovat co nejvíce místa na' | t }}
                            </p>
                        </li>
                        <li>
                            <p>{{ 'Fotografie by měly být pořízené při denním světle, tak, aby nebyla tmavá' | t }}</p>
                        </li>
                        <li>
                            <p>{{ 'Vyvarujte se nahrávání fotografií, které jsou staženy ze sociálních sítí, screenshotům a nebo posílány přes komunikační kanály WhatsApp, Facebook atd. – Tyto platformy snižují kvalitu fotografi' | t }}
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Uvidím před odesláním konečný produkt?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Po přijmutí objednávky začíná naše grafické studio pracovat na její úpravě. Po dokončení návrhu Vám bude náhled odeslán ke schválení. Pokud do 24 hodin od obdržení zpracovaného náhledu nedáte podměty k jeho úpravě, počítáme s tím, že grafický návrh je v pořádku a předáváme ho k výrobě.' | t }}
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Jak probíhá úprava nahraných obrázků?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>
                        {{ 'Po přijetí Vaší objednávky začíná naše grafické studio pracovat na její úpravě. Jedná se zejména o převedení do potřebných formátů, správné posazení obrázku do karty, odstranění pozadí, zaostření a vystínování.' | t }}
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-4" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Za jak dlouho mohu kartu očekávat?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Od přijetí objednávky můžete Vaši kartu očekávat do 7 pracovních dnů od odeslání objednávky.' | t }}
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-5" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Mohu si nechat vytisknout i kartu skutečného hráče?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Ano, při vytváření Vaší objednávky zvolíte možnost výroby karty skutečného hráče a pouze nám napíšete jeho jméno. Následně Vám vtvoříme návrh, karty, který Vám zašleme ke schválení' | t }}
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-6" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Jak velké jsou karty?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Můžete si vybrat karty ze čtyř různých velikostí:' | t }}</p>
                    <ul>
                        <li>
                            <p>{{ 'S 19x30 cm' | t }}</p>
                        </li>
                        <li>
                            <p>{{ 'M 27x42 cm' | t }}</p>
                        </li>
                        <li>
                            <p>{{ 'L 37x59 cm' | t }}</p>
                        </li>
                        <li>
                            <p>{{ 'XL 53x84 cm' | t }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-7" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Co když Vám pošlu nekvalitní fotografie?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Pokud nám nahrajete nekvalitní fotografie, které by při vytištění byly rozmazané nebo rozostřené, budeme Vás o této skutečnosti informovat a budete mít možnost nám dodat kvalitnější podklady' | t }}
                    </p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-8" aria-expanded="false">
                    <span class="accordion-title">
                        <p>{{ 'Mohu zrušit objednávku?' | t }}</p>
                    </span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p>{{ 'Po odeslání objednávky ji již není možné zrušit. Všechny objednávky jsou konečné, jak je uvedeno v našich obchodních podmínkách. Každá karta je unikátní a zpracovává se přesně podle Vašich požadavků.' | t }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
