{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block content %}
<link rel="stylesheet" href="/css/faq.css">

<div class="loader" id="loader-wrapper">
        <div id="loader2">
            <div class="counter-border">
                <span>{{ 'Načítám'|t }}</span>
                <div class="absolute-loader">
                    <p id="number1" class="number">12</p>
                    <p> %</p>
                </div>
            </div>
        </div>
    </div>

<div class="faq-around">
    <div class="faq-inner">
        <div class="headline">
            <h1 class="le-node" id="leqUbdms0reG" data-le-name="leqUbdms0reG" {{ liveEdit.leqUbdms0reG.isInterlanguage() }} {{ liveEdit.leqUbdms0reG.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leqUbdms0reG|raw }}</h1>
        </div>
        <div class="accordion">
            <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="leo8oJorkxKU" data-le-name="leo8oJorkxKU" {{ liveEdit.leo8oJorkxKU.isInterlanguage() }} {{ liveEdit.leo8oJorkxKU.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leo8oJorkxKU|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="lekTaiLjkN02" data-le-name="lekTaiLjkN02" {{ liveEdit.lekTaiLjkN02.isInterlanguage() }} {{ liveEdit.lekTaiLjkN02.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lekTaiLjkN02|raw }}</p>
                    <ul>
                        <li><p class="le-node" id="lej9LQKf5IHz" data-le-name="lej9LQKf5IHz" {{ liveEdit.lej9LQKf5IHz.isInterlanguage() }} {{ liveEdit.lej9LQKf5IHz.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lej9LQKf5IHz|raw }}</p></li>
                        <li><p class="le-node" id="leOe1ynofxIx" data-le-name="leOe1ynofxIx" {{ liveEdit.leOe1ynofxIx.isInterlanguage() }} {{ liveEdit.leOe1ynofxIx.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leOe1ynofxIx|raw }}</p></li>
                        <li><p class="le-node" id="lem193OMht7y" data-le-name="lem193OMht7y" {{ liveEdit.lem193OMht7y.isInterlanguage() }} {{ liveEdit.lem193OMht7y.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lem193OMht7y|raw }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="lemIT6CkSsPV" data-le-name="lemIT6CkSsPV" {{ liveEdit.lemIT6CkSsPV.isInterlanguage() }} {{ liveEdit.lemIT6CkSsPV.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lemIT6CkSsPV|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="le0X2nKvsTDk" data-le-name="le0X2nKvsTDk" {{ liveEdit.le0X2nKvsTDk.isInterlanguage() }} {{ liveEdit.le0X2nKvsTDk.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.le0X2nKvsTDk|raw }}</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="lef9CscrG3Qb" data-le-name="lef9CscrG3Qb" {{ liveEdit.lef9CscrG3Qb.isInterlanguage() }} {{ liveEdit.lef9CscrG3Qb.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lef9CscrG3Qb|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="leWNvoJrtcqF" data-le-name="leWNvoJrtcqF" {{ liveEdit.leWNvoJrtcqF.isInterlanguage() }} {{ liveEdit.leWNvoJrtcqF.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leWNvoJrtcqF|raw }}</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-4" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="lejlyMDFxOl8" data-le-name="lejlyMDFxOl8" {{ liveEdit.lejlyMDFxOl8.isInterlanguage() }} {{ liveEdit.lejlyMDFxOl8.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lejlyMDFxOl8|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="leFwKQQpg2WK" data-le-name="leFwKQQpg2WK" {{ liveEdit.leFwKQQpg2WK.isInterlanguage() }} {{ liveEdit.leFwKQQpg2WK.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leFwKQQpg2WK|raw }}</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-5" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="lelSzGd4XPzq" data-le-name="lelSzGd4XPzq" {{ liveEdit.lelSzGd4XPzq.isInterlanguage() }} {{ liveEdit.lelSzGd4XPzq.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.lelSzGd4XPzq|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="le99b7ZTLVcz" data-le-name="le99b7ZTLVcz" {{ liveEdit.le99b7ZTLVcz.isInterlanguage() }} {{ liveEdit.le99b7ZTLVcz.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.le99b7ZTLVcz|raw }}</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-6" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="leSZPYTKVomv" data-le-name="leSZPYTKVomv" {{ liveEdit.leSZPYTKVomv.isInterlanguage() }} {{ liveEdit.leSZPYTKVomv.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leSZPYTKVomv|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="leGwwCmDKdlg" data-le-name="leGwwCmDKdlg" {{ liveEdit.leGwwCmDKdlg.isInterlanguage() }} {{ liveEdit.leGwwCmDKdlg.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leGwwCmDKdlg|raw }}</p>
                    <ul>
                        <li><p class="le-node" id="leH4HlOPDXfF" data-le-name="leH4HlOPDXfF" {{ liveEdit.leH4HlOPDXfF.isInterlanguage() }} {{ liveEdit.leH4HlOPDXfF.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leH4HlOPDXfF|raw }}</p></li>
                        <li><p class="le-node" id="leXjDIuDXqjF" data-le-name="leXjDIuDXqjF" {{ liveEdit.leXjDIuDXqjF.isInterlanguage() }} {{ liveEdit.leXjDIuDXqjF.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leXjDIuDXqjF|raw }}</p></li>
                        <li><p class="le-node" id="leAl3qBbuAhp" data-le-name="leAl3qBbuAhp" {{ liveEdit.leAl3qBbuAhp.isInterlanguage() }} {{ liveEdit.leAl3qBbuAhp.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leAl3qBbuAhp|raw }}</p></li>
                        <li><p class="le-node" id="leCNgiEa8BST" data-le-name="leCNgiEa8BST" {{ liveEdit.leCNgiEa8BST.isInterlanguage() }} {{ liveEdit.leCNgiEa8BST.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leCNgiEa8BST|raw }}</p></li>
                    </ul>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-7" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="leKdt6W3zFth" data-le-name="leKdt6W3zFth" {{ liveEdit.leKdt6W3zFth.isInterlanguage() }} {{ liveEdit.leKdt6W3zFth.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leKdt6W3zFth|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="le4Xy9y3uP79" data-le-name="le4Xy9y3uP79" {{ liveEdit.le4Xy9y3uP79.isInterlanguage() }} {{ liveEdit.le4Xy9y3uP79.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.le4Xy9y3uP79|raw }}</p>
                </div>
            </div>
            <div class="accordion-item">
                <button id="accordion-button-8" aria-expanded="false">
                    <span class="accordion-title"><p class="le-node" id="leskGtro6V2t" data-le-name="leskGtro6V2t" {{ liveEdit.leskGtro6V2t.isInterlanguage() }} {{ liveEdit.leskGtro6V2t.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leskGtro6V2t|raw }}</p></span>
                    <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                    <p class="le-node" id="leTPsiJBkDZ9" data-le-name="leTPsiJBkDZ9" {{ liveEdit.leTPsiJBkDZ9.isInterlanguage() }} {{ liveEdit.leTPsiJBkDZ9.isCorrectLanguage() }} data-le-type="text">{{ liveEdit.leTPsiJBkDZ9|raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}