{% extends '@modules:Adcards/layouts/site-layout/site-layout.twig' %}

{% block head %}
    <link rel="stylesheet" href="/css/pages/product-underpage.css">
{% endblock %}

{% block content %}
    <div class="product-page">
        <div class="product-page-content">
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-6 product-page-image">
                {% for imageId in images %}
                    {% set currentImage = getImage(imageId, 500) %}
                    <img src="{{ currentImage.src }}"
                         width='{{ currentImage.width }}'
                         height='{{ currentImage.height }}' />
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xl-6 product-page-info">
                <h1>{{ name }}</h1>
                <h2 class="price">{{ price }} Kč</h2>
                {{ include("@modules:Adcards/components/add-product-to-cart.twig") }}
                <div class="desc">
                    <p class="desc"><b>Krátký popis produktu</b> Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit.
                        Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet. Curabitur ac sagittis
                        neque,
                        vel egestas est. Aenean elementum, erat at aliquet hendrerit.</p>
                </div>
                {#                <div class="accordion"> #}
                {#                    <div class="accordion-item"> #}
                {#                        <button id="accordion-button-1" aria-expanded="false"> #}
                {#                            <span class="accordion-title">Info 1</span> #}
                {#                            <span class="icon" aria-hidden="true"></span> #}
                {#                        </button> #}
                {#                        <div class="accordion-content"> #}
                {#                            <p>Pro co nejlepší kvaltu nahrávejte fotky podle následujících bodů:</p> #}
                {#                            <ul> #}
                {#                                <li>Obrázek by měl obsahovat hlavu, ramena a hrudník a vyplňovat co nejvíce místa na #}
                {#                                    obrázku. Čím dále je osoba na dané fotografii, tím pravděpodobnější je, že kvalita #}
                {#                                    nebude dostatečná #}
                {#                                </li> #}
                {#                                <li>Fotografie by měly být pořízené při denním světle, tak, aby nebyla tmavá</li> #}
                {#                                <li>Vyvarujte se nahrávání fotografií, které jsou staženy ze sociálních sítí, #}
                {#                                    screenshotům a nebo posílány přes komunikační kanály WhatsApp, Facebook atd. – Tyto #}
                {#                                    platformy snižují kvalitu fotografi #}
                {#                                </li> #}
                {#                            </ul> #}
                {#                        </div> #}
                {#                    </div> #}
                {#                    <div class="accordion-item"> #}
                {#                        <button id="accordion-button-2" aria-expanded="false"> #}
                {#                            <span class="accordion-title">Info 2</span> #}
                {#                            <span class="icon" aria-hidden="true"></span> #}
                {#                        </button> #}
                {#                        <div class="accordion-content"> #}
                {#                            <p>Po přijmutí objednávky začíná naše grafické studio pracovat na její úpravě. Po dokončení #}
                {#                                návrhu Vám bude náhled odeslán ke schválení. Pokud do 24 hodin od obdržení zpracovaného #}
                {#                                náhledu nedáte podměty k jeho úpravě, počítáme s tím, že grafický návrh je v pořádku a #}
                {#                                předáváme ho k výrobě.</p> #}
                {#                        </div> #}
                {#                    </div> #}
                {#                    <div class="accordion-item"> #}
                {#                        <button id="accordion-button-3" aria-expanded="false"> #}
                {#                            <span class="accordion-title">Info 3</span> #}
                {#                            <span class="icon" aria-hidden="true"></span> #}
                {#                        </button> #}
                {#                        <div class="accordion-content"> #}
                {#                            <p>Po přijetí Vaší objednávky začíná naše grafické studio pracovat na její úpravě. Jedná se #}
                {#                                zejména o převedení do potřebných formátů, správné posazení obrázku do karty, odstranění #}
                {#                                pozadí, zaostření a vystínování.</p> #}
                {#                        </div> #}
                {#                    </div> #}
                {#                </div> #}
            </div>
        </div>
    </div>
{% endblock %}