<!-- start @modules:Adcards/partials/pages/builder/form/country-select.twig -->
<div style="width: 100%; position: relative; padding: 2px;">
    <div id="country-dropdown-btn" class="dropdown country-dropdown-btn">
        <span>{{ 'Kliknutím vyberte zemi'|t }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
             height="20" viewbox="0 0 172 172" style=" fill:#000000;">
            <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1"
               stroke-linecap="butt" stroke-linejoin="miter"
               stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
               font-family="none" font-weight="none" font-size="none"
               text-anchor="none" style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#000000">
                    <path d="M86,100.84217l-32.75883,-32.75883l-10.75,10.75l43.50883,43.50883l43.50883,-43.50883l-10.75,-10.75z"></path>
                </g>
            </g>
        </svg>
    </div>
    <small class='field-error' x-text='state.form.errors.countryId'></small>


    <div class="dropdown-content country-dropdown-content">
        {#        <input id="custom-country" type="checkbox"/> #}
        {#        <label for="custom-country"> #}
        {#                                                    <span class="label-name"> #}
        {#                                                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" #}
        {#                                                             width="20" height="20" viewbox="0 0 172 172"> #}
        {#                                                            <g fill="none" fill-rule="nonzero" stroke="none" #}
        {#                                                               stroke-width="1" stroke-linecap="butt" #}
        {#                                                               stroke-linejoin="miter" stroke-miterlimit="10" #}
        {#                                                               stroke-dasharray="" stroke-dashoffset="0" #}
        {#                                                               font-family="none" font-weight="none" font-size="none" #}
        {#                                                               text-anchor="none" style="mix-blend-mode: normal"> #}
        {#                                                                <path d="M0,172v-172h172v172z" fill="none"></path> #}
        {#                                                                <g fill="#ffffff"> #}
        {#                                                                    <path d="M28.66667,28.66667c-7.91917,0 -14.33333,6.41417 -14.33333,14.33333v86c0,7.91917 6.41417,14.33333 14.33333,14.33333h58.64909c-0.80267,-2.25033 -1.31576,-4.644 -1.31576,-7.16667c0,-3.25367 0.74611,-6.31831 2.05761,-9.07031c1.17533,-2.44383 -0.59438,-5.26302 -3.30338,-5.26302h-41.60026c-2.98133,0 -4.64814,-3.43026 -2.81348,-5.78093l17.83268,-22.95573c1.40467,-1.806 4.13013,-1.83981 5.58496,-0.08398l15.0752,18.14063l22.19987,-28.61068c1.44767,-1.8705 4.27794,-1.83601 5.69694,0.05599l10.792,14.38932c3.698,-6.52167 10.62503,-10.98795 18.64453,-10.98795c6.57183,0 12.45612,2.96308 16.40494,7.62858c1.7415,2.05683 5.09506,0.79102 5.09506,-1.90365v-48.72493c0,-7.91917 -6.41417,-14.33333 -14.33333,-14.33333zM136.16667,100.33333c-3.956,0 -7.16667,3.21067 -7.16667,7.16667v21.5h-21.5c-3.956,0 -7.16667,3.21067 -7.16667,7.16667c0,3.956 3.21067,7.16667 7.16667,7.16667h21.5v21.5c0,3.956 3.21067,7.16667 7.16667,7.16667c3.956,0 7.16667,-3.21067 7.16667,-7.16667v-21.5h21.5c3.956,0 7.16667,-3.21067 7.16667,-7.16667c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667h-21.5v-21.5c0,-3.956 -3.21067,-7.16667 -7.16667,-7.16667z"></path> #}
        {#                                                                </g> #}
        {#                                                            </g> #}
        {#                                                        </svg> #}
        {#                                                        <b>{{ 'Nahrát vlastní zemi'|t }}</b> #}
        {#                                                    </span> #}
        {#        </label> #}
        <div class="search-around">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20"
                 height="20" viewbox="0 0 172 172">
                <g fill="none" fill-rule="nonzero" stroke="none"
                   stroke-width="1" stroke-linecap="butt"
                   stroke-linejoin="miter" stroke-miterlimit="10"
                   stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                   font-weight="none" font-size="none" text-anchor="none"
                   style="mix-blend-mode: normal">
                    <path d="M0,172v-172h172v172z" fill="none"></path>
                    <g fill="#666666">
                        <path d="M73.45833,21.5c-28.61092,0 -51.95833,23.34743 -51.95833,51.95833c0,28.6109 23.34741,51.95833 51.95833,51.95833c11.72882,0 22.53529,-3.96669 31.24919,-10.56803l33.55876,33.55176c1.79752,1.87223 4.46675,2.62641 6.97825,1.97168c2.5115,-0.65472 4.47282,-2.61605 5.12755,-5.12755c0.65472,-2.5115 -0.09946,-5.18073 -1.97168,-6.97825l-33.55176,-33.55876c6.60135,-8.7139 10.56803,-19.52038 10.56803,-31.24919c0,-28.6109 -23.34741,-51.95833 -51.95833,-51.95833zM73.45833,35.83333c20.86462,0 37.625,16.76039 37.625,37.625c0,10.01796 -3.89127,19.06549 -10.2181,25.7902c-0.61586,0.44585 -1.15686,0.98684 -1.6027,1.6027c-6.72616,6.33487 -15.77907,10.2321 -25.8042,10.2321c-20.86462,0 -37.625,-16.76039 -37.625,-37.625c0,-20.86461 16.76038,-37.625 37.625,-37.625z"></path>
                    </g>
                </g>
            </svg>
            <input class="search-bar" type="text"
                   placeholder="{{ 'Vyhledávání..'|t }}"
                   title="Zadejte název pro vyhledání" /></div>
        {#        <div class="upload-around" v-if="country.custom"> #}
        {#            <div class="upload"> #}
        {#                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" #}
        {#                     width="50" height="50" viewbox="0 0 172 172"> #}
        {#                    <g fill="none" fill-rule="nonzero" stroke="none" #}
        {#                       stroke-width="1" stroke-linecap="butt" #}
        {#                       stroke-linejoin="miter" stroke-miterlimit="10" #}
        {#                       stroke-dasharray="" stroke-dashoffset="0" #}
        {#                       font-family="none" font-weight="none" font-size="none" #}
        {#                       text-anchor="none" style="mix-blend-mode: normal"> #}
        {#                        <path d="M0,172v-172h172v172z" fill="none"></path> #}
        {#                        <g fill="#ddd"> #}
        {#                            <path d="M0,17.2v137.6h172v-137.6zM6.88,24.08h158.24v89.44h-36.73812l-24.08,-17.2h-20.3175l-14.05563,-14.05562l-16.74312,3.35937l-14.80813,-22.22562l-31.4975,31.4975zM129,44.72c-8.50594,0 -15.48,6.97406 -15.48,15.48c0,8.50594 6.97406,15.48 15.48,15.48c8.50594,0 15.48,-6.97406 15.48,-15.48c0,-8.50594 -6.97406,-15.48 -15.48,-15.48zM129,51.6c4.78375,0 8.6,3.81625 8.6,8.6c0,4.78375 -3.81625,8.6 -8.6,8.6c-4.78375,0 -8.6,-3.81625 -8.6,-8.6c0,-4.78375 3.81625,-8.6 8.6,-8.6zM37.3025,74.20188l12.71188,19.05437l17.65687,-3.52062l13.46438,13.46437h20.9625l24.08,17.2h38.94187v27.52h-158.24v-43.29562z"></path> #}
        {#                        </g> #}
        {#                    </g> #}
        {#                </svg> #}
        {#                <span>{{ 'Kliknutím nahrajte obrázek'|t }}</span> #}
        {#            </div> #}
        {#            <input id="fileup" name="fileup" type="file" #}
        {#                   onchange="readURL(this, 'country')" /></div> #}
        {# Search - Country #}
        <div class="search-results-around" v-if="searching.country">
													<span v-for="country in countries.search">
														<input v-on:change="validateForm" type="radio"
                                                               v-bind:value="country.id"
                                                               v-bind:id="'country-' + country.id"
                                                               v-on:click="insertFlag($event, '{{ __webRoot__ }}' + 'app/carnival/var/storage/' + country.flag.relativePath, 'country')"
                                                               name="country" />
														<label class="dropdown-item dropdown-item-country"
                                                               v-bind:for="'country-' + country.id">
															<div class="dropdown-icon-container">
																<img loading="lazy" class="dropdown-icon"
                                                                     v-bind:src="'{{ __webRoot__ }}app/carnival/var/storage/' + country.flag.relativePath"
                                                                     alt="" /></div>
															<span class="label-name">${ country.name }</span>
														</label>
													</span>
        </div>
        {# List - Countries #}
        <div v-else>
													<span v-for="country in countries.list">
														<input v-on:change="validateForm" type="radio"
                                                               v-bind:value="country.id"
                                                               v-bind:id="'country-' + country.id"
                                                               v-on:click="insertFlag($event, '{{ __webRoot__ }}' + 'app/carnival/var/storage/' + country.flag.relativePath, 'country')"
                                                               name="country" />
														<label class="dropdown-item dropdown-item-country"
                                                               v-bind:for="'country-' + country.id">
															<div class="dropdown-icon-container">
																<img loading="lazy" class="dropdown-icon"
                                                                     v-bind:src="'{{ __webRoot__ }}app/carnival/var/storage/' + country.flag.relativePath"
                                                                     alt="" /></div>
															<span class="label-name">${ country.name }</span>
														</label>
													</span>
            <div v-if="loading.scroll.countries">Loading...</div>
        </div>
    </div>
</div>
<!-- end -->
