{% set currentStepId = random() %}
    {% for country in countries %}
        <span @click='isOpen = false'>
            {% set flag = "" %}
            {% if country.flag %}
                {% set flag = getImage(country.flag, 100, 50) %}
            {% endif %}
            <input id='country-{{ country.id }}' type="radio" value='{{ country.id }}' x-model='countryId'
                   name="countryId" />
            <label class="dropdown-item dropdown-item-country"
                   @click='setCountry({ id: "{{ country.id }}", name: "{{ country.name }}" {% if flag %}, flag: { src: "{{ flag.src }}" }{% endif %}})'>
                    {% if flag %}
                        <div class="dropdown-icon-container">
                            <img class="dropdown-icon"
                                 src='{{ flag.src }}'
                                 alt="" width='45' height='auto' />
                        </div>
                    {% endif %}
                <span class="label-name">{{ country.name }}</span>
            </label>
        </span>
    {% else %}
        <div class='p-2 text-center'>
            {{ "Žádné další země pro vaše vyhledávání"|t }}
        </div>
    {% endfor %}

{% if countries|length and isSearch is not same as(true) %}
    <button
            class='p-2 text-center w-100 mt-0'
            id='indicator-{{ currentStepId }}'
            hx-target="this"
            hx-swap="outerHTML"
            hx-get="{{ url_for("searchCountries") }}?page={{ page ?? 2 }}"
    >
        <span class='hx-hide-on-request'>{{ "Načíst další..."|t }}</span>
        <span class='hx-show-on-request'>{{ "Načítám..."|t }}</span>
    </button>
{% endif %}
