<div x-show="!isRealPlayer()" style='display: none'>
    <div class="card flexi">
        <div class="card-body col-xl-12">
            <div class="form-input-around">
                <div class="checkbox-around col-lg-4 col-sm-4 col-xl-4">
                    <input type="radio" name="cardType" value="player" id="player"
                           x-model="cardType" />
                    <label for="player">
                        <span class="label-name">{{ 'Hráč'|t }}</span>
                    </label>
                </div>
                <div class="checkbox-around col-lg-4 col-sm-4 col-xl-4">
                    <input type="radio" name="cardType" value="goalKeeper" id="goalKeeper"
                           x-model="cardType" />
                    <label for="goalKeeper">
                        <span class="label-name">{{ 'Brankář'|t }}</span>
                    </label>
                </div>
                <div class="checkbox-around col-lg-4 col-sm-4 col-xl-4">
                    <input type="radio" name="cardType" value="manager" id="manager"
                           x-model="cardType" />
                    <label for="manager">
                        <span class="label-name">{{ 'Manažer'|t }}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card flexi" style="padding: 0;">
        <div class="card-body col-xl-6">
            {{ include("@modules:Adcards/partials/pages/builder/form/country-select.twig") }}
        </div>
        <div class="card-body no-padding-side flexi col-xl-6">
            <div class="input-around col-6 col-lg-12 col-sm-12 col-xl-12">
                <input class="form-control required-field"
                       type="text"
                       x-model="name"
                       placeholder="{{ 'Jméno'|t }}" /></div>
            <div class="input-around col-3 col-lg-6 col-sm-6 col-xl-6">
                <input class="form-control required-field"
                       type="text"
                       x-model="rating"
                       placeholder="99"
                /></div>
            <div class="input-around col-3 col-lg-6 col-sm-6 col-xl-6">
                <input class="form-control position-input required-field"
                       type="text"
                       x-model="position"
                       placeholder="CAM" /></div>
        </div>
    </div>
    <div class="card flexi" style="padding: 0px 2px;">
        {{ include("@modules:Adcards/partials/pages/builder/form/image-select.twig") }}
        <div class="card-body col-xl-5">
            <div class="stats-set stats-standard" x-show="cardType === 'player'" style='display: none'>
                <template x-for="(stat, key) in stats.player">
                    <div class="input-around col-6 col-lg-6 col-sm-6 col-xl-6"
                         style="padding: 2px 2px 2px 0px;">
                        <div class="number input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 2px 2px 0px;">
                            <input class="form-control required-field"
                                   type="text"
                                   x-model="stat.value"
                                   placeholder="99" maxlength="2"
                                   data-initial="true"
                            /></div>
                        <div class="kind input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 0px 2px 2px;">
                            <input class="form-control required-field"
                                   type="text"
                                   x-model="stat.name"
                                   maxlength="3"
                            /></div>
                    </div>
                </template>
            </div>
            <div class="stats-set stats-goalkeeper" x-show="cardType === 'goalKeeper'" style='display: none'>
                <template x-for="(stat, key) in stats.goalKeeper">
                    <div class="input-around col-6 col-lg-6 col-sm-6 col-xl-6"
                         style="padding: 2px 2px 2px 0px;">
                        <div class="number input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 2px 2px 0px;">
                            <input class="form-control required-field"
                                   type="text"
                                   x-model="stat.value"
                                   placeholder="99" maxlength="2"
                            />
                        </div>
                        <div class="kind input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 0px 2px 2px;">
                            <input class="form-control required-field" type="text"
                                   x-model="stat.name"
                                   maxlength="3" />
                        </div>
                    </div>
                </template>
            </div>
            <div class="stats-set stats-goalkeeper" x-show="cardType === 'manager'" style='display: none'></div>
        </div>
    </div>
</div>