<!-- start @app/components/product.twig -->
<div id="product-item-{{ id }}" class="col-12 col-sm-6 col-xl-4 shop-box">
    <a href='{{ url_for('productUnderpage', { 'productId': id }) }}' class='image-wrap'>
        {% set currentImage = getImage(images[0], 440) %}
        {% set placeholderImage = getImage(images[0], 10) %}
        <img loading='lazy' data-src="{{ currentImage.src }}" src='{{ placeholderImage.src }}'
             width="{{ currentImage.width }}" height="{{ currentImage.height }}"
             alt="Obrázek produktu">
    </a>
    <a class='hover:underline' href='{{ url_for('productUnderpage', { 'productId': id }) }}'>
        <h2>{{ name }}</h2>
    </a>
    <div class="price">{{ price }} Kč</div>
    <p>{{ description }}</p>
    {{ include("@app/components/add-product-to-cart.twig") }}
</div>
<!-- end @app/components/product.twig -->