<!-- start @app/components/small-card.twig -->
<div class='d-flex cart-overview__item'>
    <div class='cart-overview__item-image'>
        {% set currentImage = getImage(card.getBackground().getImage(), 100) %}
        <img class='h-100 w-100 position-absolute' style='object-fit: contain' src="{{ currentImage.src }}"
             width='{{ currentImage.width }}'
             height='{{ currentImage.height }}' />
    </div>
    <div class="info w-100 position-relative">
        <div class="name"><h4>{{ card.getName() }}</h4></div>
        <div class="size">
            <span>{{ card.getSize().getMaterial().getName() }} ({{ card.getSize().getWidth() }}x{{ card.getSize().getHeight() }}cm)</span>
        </div>
        <div class="price">
            <span>Cena: <b>{{ card.getTotalPrice() == 0 ? card.createPrice() :  card.getTotalPrice() }} {{ "Kč"|t }}</b></span>
        </div>
        {% if card.bonuses.data %}
            <div>
                {{ "Včetně" }}:
                {% for bonus in card.getBonuses().data %}
                    <span><span style='cursor:help;text-decoration: underline'
                                title='{{ bonus.value }}'>{{ bonus.name }}</span> ({{ bonus.price == 0 ? card.getSize().getMaterial().getBonusPrice(bonus.name) : bonus.price }}
                    Kč)</span>{% if loop.last == false %},{% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if readOnly is not same as(true) %}
            <button
                    type='button'
                    hx-delete='{{ url_for("removeCard") }}?id={{ card.getId() }}'
                    hx-target="#cart-right-side"
                    hx-swap='outerHTML'
                    class='delete ignore-button-styles'
                    hx-confirm='{{ "Opravdu vymazat?"|t }}'
            ></button>
        {% endif %}
    </div>
</div>
<!-- end @app/components/small-card.twig -->