<div>
    <div class="card flexi">
        <div class="card-body col-xl-12">
            <div class="form-input-around">
                <div class="checkbox-around col-lg-4 col-sm-4 col-xl-4">
                    <input type="radio" name="cardType" value="player" id="player"
                           x-model="_cardType" />
                    <label for="player">
                        <span class="label-name">{{ 'Hráč'|t }}</span>
                    </label>
                </div>
                <div class="checkbox-around col-lg-4 col-sm-4 col-xl-4">
                    <input type="radio" name="cardType" value="goalKeeper" id="goalKeeper"
                           x-model="_cardType" />
                    <label for="goalKeeper">
                        <span class="label-name">{{ 'Brankář'|t }}</span>
                    </label>
                </div>
                <div class="checkbox-around col-lg-4 col-sm-4 col-xl-4">
                    <input type="radio" name="cardType" value="manager" id="manager"
                           x-model="_cardType" />
                    <label for="manager">
                        <span class="label-name">{{ 'Manažer'|t }}</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card flexi" style="padding: 0;">
        <div class="card-body col-xl-6">
            {{ include("@app/partials/pages/builder/form/country-select.twig") }}
            {{ include("@app/partials/pages/builder/form/club-input.twig") }}
        </div>
        <div class="card-body no-padding-side flexi col-xl-6">
            <div class='col-6 col-lg-12 col-sm-12 col-xl-12 px-0'>
                <div class="input-around">
                    <input class="form-control required-field"
                           required
                           type="text"
                           x-model="_name"
                           @input.throttle.100ms='doValidate()'
                           placeholder="{{ 'Jméno'|t }}"
                           :class='errors.name ? "error" : ""'
                    />
                </div>
                <small class="field-error" x-text="errors.name"></small>
            </div>
            <div class="input-around col-3 col-lg-6 col-sm-6 col-xl-6 "
                 style="align-items:baseline;">
                <input class="form-control required-field"
                       type="number"
                       x-model.number="_rating"
                       @input='doValidate()'
                       placeholder="99"
                />
            </div>
            <div class="input-around col-3 col-lg-6 col-sm-6 col-xl-6" style="align-items:baseline;">
                <input class="form-control position-input required-field"
                       type="text"
                       x-model="_position"
                       @input='doValidate()'
                       placeholder="CAM" /></div>
        </div>
    </div>
    <div class="card flexi" style="padding: 0px 2px;">
        {{ include("@app/partials/pages/builder/form/image-select.twig") }}
        <div class="card-body col-xl-5 pl-xl-1">
            <div class="stats-set stats-standard" x-show="isNormalPlayer()" style='display: none'>
                <template x-for="(stat, key) in _stats.player">
                    <div class="input-around col-6 col-lg-6 col-sm-6 col-xl-6"
                         style="padding: 2px 2px 2px 0px;">
                        <div class="number input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 2px 2px 0px;">
                            <input class="form-control required-field"
                                   type="number"
                                   x-model="stat.value"
                                   placeholder="99"
                                   max='99'
                                   data-initial="true"
                            /></div>
                        <div class="kind input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 0px 2px 2px;">
                            <input class="form-control required-field"
                                   type="text"
                                   x-model="stat.name"
                                   :class='errors[`_stats.${key}.name`] ? "error" : ""'
                                   @input='doValidate()'
                            /></div>
                    </div>
                </template>
            </div>
            <div class="stats-set stats-goalkeeper" x-show="isGoalKeeper()" style='display: none'>
                <template x-for="(stat, key) in _stats.goalKeeper">
                    <div class="input-around col-6 col-lg-6 col-sm-6 col-xl-6"
                         style="padding: 2px 2px 2px 0px;">
                        <div class="number input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 2px 2px 0px;">
                            <input class="form-control required-field"
                                   type="number"
                                   x-model="stat.value"
                                   max='99'
                                   placeholder="99"
                            />
                        </div>
                        <div class="kind input-around col-lg-6 col-sm-6 col-xl-6"
                             style="padding: 2px 0px 2px 2px;">
                            <input class="form-control required-field" type="text"
                                   :class='errors[`_stats.${key}.name`] ? "error" : ""'
                                   x-model="stat.name"
                            />
                        </div>
                    </div>
                </template>
            </div>
            <div class="stats-set stats-goalkeeper" x-show="isManager()" style='display: none'></div>
        </div>
    </div>
</div>